@model Entities.Users
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

    <section class="row main">
        <section class="col-12 col-sm-6 col-md-3">
            <div class="form-container">
                <form  asp-action="Register" asp-controller="User" method="post">
                    <h4 class="text-header">REGİSTER</h4>
                    <div class="form-group">
                        <label for="exampleInputEmail1">User Name</label>
                        <input type="text" class="form-control" placeholder="Username" asp-for="Username">
                         <span asp-validation-for="Username" class="alert-danger"></span>
                    </div>
                    <div class="form-group">

                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" class="form-control"  placeholder="Enter email" asp-for="Email">
                        <span asp-validation-for="Email" class="alert-danger"></span>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                        <span asp-validation-for="Password" class="alert-danger"></span>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword" class="alert-danger"></span>

                    </div>
                    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                </form>
            </div>
        </section>
    </section>
