@model Entities.Customers
@{
    ViewData["Title"] = "CustomerFind";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row" style="margin-left:80px">
        <div class="col-md-6  ">

            <form  asp-controller="Customer" asp-action="CustomerUpdate" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">TC</label>
                    <input type="text" class="form-control" placeholder="T.C" asp-for="Tc">
                    <span asp-validation-for="Tc" class="alert-danger"></span>


                </div>
                <div class="form-group">

                    <label for="exampleInputPassword1"></label>
                    <input type="text" class="form-control" placeholder="name" asp-for="Name">
                    <span asp-validation-for="Name" class="alert-danger"></span>

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Soyad</label>
                    <input type="text" class="form-control" placeholder="Surname" asp-for="Surname">
                    <span asp-validation-for="Surname" class="alert-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Telefon</label>
                    <input type="text" class="form-control" placeholder="Telefone" asp-for="Telefone">
                    <span asp-validation-for="Telefone" class="alert-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Adres</label>
                    <input type="text" class="form-control" placeholder="Adress" asp-for="Adress">
                    <span asp-validation-for="Adress" class="alert-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Şehir</label>
                    <input type="text" class="form-control" placeholder="City" asp-for="City">
                    <span asp-validation-for="City" class="alert-danger"></span>
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


